@import "default/mixins";
/*
@include screen(320px, 640px) { ... }
@include screen(768px, 1024px, landscape) { ... }

@include min-screen(768px) { ... }
@include min-screen(1024px) { ... }

@include max-screen(1024px) { ... }
@include max-screen(768px) { ... }

@include screen-height(640px, 768px) { ... }
@include screen-height(640px, 768px, landscape) { ... }

@include min-screen-height(768px) { ... }
@include min-screen-height(1024px) { ... }

@include max-screen-height(1024px) { ... }
@include max-screen-height(768px) { ... }

@include landscape { ... }
@include portrait { ... }

@include ipad { ... }                 // all iPads
@include ipad-retina { ... }          // only iPad with retina

@include iphone5 { ... }              // only iPhone 5
@include iphone4 { ... }              // only iPhone 4/4S
@include iphone3 { ... }              // only iPhone 2/3G/3GS

.brand {
    @include hdpi {
        background-image: url(logo_2x.png);
    }
}
.title {
    font-size: 5vm;

    @include hdtv {
        font-size: 10vm;
    }

    @include hdtv('4K') {
        font-size: 15vm;
    }
}
*/
