@import "../compass";
@import "../compass/utilities/sprites";
@import "default/variables";

$sprite-sort-by : '!width';
$sprite-layout : 'smart';
$sprite-sprite-dimensions : true;
$sprite-spacing: 20px;
@import "sprite/*.png";

@include all-sprite-sprites;
