/*! my-resets */
body {
  font : #{$body-font-size}/1.4 $body-font;
}

//placeholder
::-webkit-input-placeholder, ::-moz-placeholder, :-moz-placeholder, :-ms-input-placeholder {
  text-overflow : ellipsis;
  text-indent   : 0px;
  transition    : text-indent 0.3s ease;
}

:focus::-webkit-input-placeholder, :focus::-moz-placeholder, :focus:-moz-placeholder, :focus:-ms-input-placeholder {
  text-indent : 500px;
  transition  : text-indent 0.3s ease;
}

#container {
  min-height : 100%;
  height     : auto !important;
  height     : 100%;
}

/*
.modal-open {
  overflow : auto;
  }

.modal {
  overflow : auto;
  }
*/
textarea {
  line-height : normal !important;
}

.bx-core-editor-dialog-content * {
  box-sizing : content-box;
}

.bxce pre {
  overflow : inherit;
}

hr {
  height        : 0;
  margin        : 15px 0;
  overflow      : hidden;
  background    : transparent;
  border        : 0;
  border-bottom : 1px solid rgba(97, 97, 97, 1);
  @include clearFix();
}

a {
  color           : $lnk-color;
  text-decoration : none;
  &:hover,
  &:active {
    text-decoration : underline;
  }
  /*
     &[href]:not([class]) {
        color           : $lnk-color;
        text-decoration: underline;
    }*/
  &[href^="http"]:empty::before {
    content : attr(href);
  }
}
