/*! all.scss */
html {
  height : 100%;
}

body {
  display        : flex;
  flex-direction : column;
  height         : 100%;
}

header {
  flex : 0 0 auto;
}

.main-content {
  flex : 1 0 auto;
}

footer {
  flex : 0 0 auto;
}

.col div {
  background : #7fbdbe;
  margin     : 5px;
  border     : 1px solid red;
}

@include media-breakpoint-down(lg) {
  body {
  }
}

@include media-breakpoint-down(md) {
  body {
  }
}

@include media-breakpoint-down(sm) {
  body {
  }
}

@include media-breakpoint-down(xs) {
  body {
  }
}
