/*! body.scss */
html {
    }

#main {
    }

@include  media-breakpoint-down(lg) {
    #main {
    }
}
@include  media-breakpoint-down(md) {
    #main {
    }
}
@include  media-breakpoint-down(sm) {
    #main {
    }
}
@include  media-breakpoint-down(xs) {
    #main {
    }
}
