/*! footer.scss */
#footer {
}

@include media-breakpoint-down(lg) {
  #footer {
  }
}

@include media-breakpoint-down(md) {
  #footer {
  }
}

@include media-breakpoint-down(sm) {
  #footer {
  }
}

@include media-breakpoint-down(xs) {
  #footer {
  }
}
