/*! header.scss */

#header {
}

.container-fluid-fix {
  margin-left  : -15px;
  margin-right : -15px;
}

@include media-breakpoint-up(lg) {
  .container-fluid {
    width : $page-width;
  }
}

@include media-breakpoint-down(lg) {
  #header {
  }
}

@include media-breakpoint-down(md) {
  #header {
  }
}

@include media-breakpoint-down(sm) {
  #header {
  }
}

@include media-breakpoint-down(xs) {
  #header {
  }
}
