/*! mnu.scss */
.mnu {
}
@include  media-breakpoint-down(lg) {
  .mnu{
  }
}
@include  media-breakpoint-down(md) {
  .mnu{
  }
}
@include  media-breakpoint-down(sm) {
  .mnu{
  }
}
@include  media-breakpoint-down(xs) {
  .mnu{
  }
}
